@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --muted: #606067;
}

.text-outlined {
  @apply relative text-primary-400 font-bold;
  letter-spacing: 2px;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000; /* Black outline */
}

/* Syntax Highlighting stuff */

pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em
}
code.hljs {
  padding: 3px 5px
}

.hljs {
  background: #222;
  color: #aaa
}
.hljs-subst {
  color: #aaa
}
.hljs-section {
  color: #fff
}
.hljs-comment,
.hljs-quote,
.hljs-meta {
  color: #444
}
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-regexp {
  color: #ffcc33
}
.hljs-number,
.hljs-addition {
  color: #00cc66
}
.hljs-built_in,
.hljs-literal,
.hljs-type,
.hljs-template-variable,
.hljs-attribute,
.hljs-link {
  color: #32aaee
}
.hljs-keyword,
.hljs-selector-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: #6644aa
}
.hljs-title,
.hljs-variable,
.hljs-deletion,
.hljs-template-tag {
  color: #bb1166
}
.hljs-section,
.hljs-doctag,
.hljs-strong {
  font-weight: bold
}
.hljs-emphasis {
  font-style: italic
}