@import "tailwindcss";

@theme {
  --font-head: var(--font-head);
  --font-sans: var(--font-sans);

  --shadow-xs: 1px 1px 0 0 var(--border);
  --shadow-sm: 2px 2px 0 0 var(--border);
  --shadow: 3px 3px 0 0 var(--border);
  --shadow-md: 4px 4px 0 0 var(--border);
  --shadow-lg: 6px 6px 0 0 var(--border);
  --shadow-xl: 10px 10px 0 1px var(--border);
  --shadow-2xl: 16px 16px 0 1px var(--border);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
}

:root {
  --background: #fff;
  --foreground: #000;
  --card: #fff;
  --card-foreground: #000;
  --primary: #ffdb33;
  --primary-hover: #ffcc00;
  --primary-foreground: #000;
  --muted: #aeaeae;
  --muted-foreground: #5a5a5a;
  --accent: #fae583;
  --accent-foreground: #000;
  --destructive: #e63946;
  --destructive-foreground: #fff;
  --border: #000;
}

.dark {
  --background: #121212;
  --foreground: #fff;
  --card: #1e1e1e;
  --card-foreground: #fff;
  --popover: #1e1e1e;
  --popover-foreground: #fff;
  --primary: #ffdb33;
  --primary-foreground: #000;
  --secondary: #292929;
  --secondary-foreground: #e5e5e5;
  --muted: #3b3b3b;
  --muted-foreground: #9a9b9c;
  --accent: #ffdb33;
  --accent-foreground: #000;
  --destructive: #ff6b6b;
  --destructive-foreground: #fff;
  --border: #333;
  --input: #444;
  --ring: #ffdb33;
  --radius: 0.5rem;
  --chart-1: #ff4500;
  --chart-2: #ff8c00;
  --chart-3: #00b894;
  --chart-4: #355070;
  --chart-5: #e9c46a;
}

.text-outlined {
  letter-spacing: 2px;
  text-shadow: 0px 0px 0 var(--color-primary), 0px 0px 0 var(--color-primary),
    4px 4px 0 var(--color-primary), 4px 4px 0 var(--color-primary);
}

/* Syntax Highlighting stuff */

pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}
code.hljs {
  padding: 3px 5px;
}

.hljs {
  background: #222;
  color: #aaa;
}
.hljs-subst {
  color: #aaa;
}
.hljs-section {
  color: #fff;
}
.hljs-comment,
.hljs-quote,
.hljs-meta {
  color: #444;
}
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-regexp {
  color: #ffcc33;
}
.hljs-number,
.hljs-addition {
  color: #00cc66;
}
.hljs-built_in,
.hljs-literal,
.hljs-type,
.hljs-template-variable,
.hljs-attribute,
.hljs-link {
  color: #32aaee;
}
.hljs-keyword,
.hljs-selector-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: #6644aa;
}
.hljs-title,
.hljs-variable,
.hljs-deletion,
.hljs-template-tag {
  color: #bb1166;
}
.hljs-section,
.hljs-doctag,
.hljs-strong {
  font-weight: bold;
}
.hljs-emphasis {
  font-style: italic;
}
