@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --muted: #606067;
  --background: #fff;
  --foreground: #000;
  --primary-50: #fffef0;
  --primary-100: #fffac2;
  --primary-200: #fff299;
  --primary-300: #ffe766;
  --primary-400: #ffdb33;
  --primary-500: #ffcc00;
  --primary-600: #ffb700;
  --primary-700: #ff9f00;
  --primary-800: #e68a00;
  --primary-900: #b36b00;
}

.text-outlined {
  /* @apply relative text-primary-400 font-bold; */
  letter-spacing: 2px;
  text-shadow: 0px 0px 0 theme("colors.primary.400"),
    0px 0px 0 theme("colors.primary.400"), 4px 4px 0 theme("colors.primary.400"),
    4px 4px 0 theme("colors.primary.400");
}

/* Syntax Highlighting stuff */

pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}
code.hljs {
  padding: 3px 5px;
}

.hljs {
  background: #222;
  color: #aaa;
}
.hljs-subst {
  color: #aaa;
}
.hljs-section {
  color: #fff;
}
.hljs-comment,
.hljs-quote,
.hljs-meta {
  color: #444;
}
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-regexp {
  color: #ffcc33;
}
.hljs-number,
.hljs-addition {
  color: #00cc66;
}
.hljs-built_in,
.hljs-literal,
.hljs-type,
.hljs-template-variable,
.hljs-attribute,
.hljs-link {
  color: #32aaee;
}
.hljs-keyword,
.hljs-selector-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: #6644aa;
}
.hljs-title,
.hljs-variable,
.hljs-deletion,
.hljs-template-tag {
  color: #bb1166;
}
.hljs-section,
.hljs-doctag,
.hljs-strong {
  font-weight: bold;
}
.hljs-emphasis {
  font-style: italic;
}
